<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title>Olympics Quiz</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/css/screen.css" media="all">
   <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,200,700' rel='stylesheet' type='text/css'>
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>

<body>


<div class="base">
    <div class="medal">
        <!-- Is THIS your card? -->
        <div class="front"><p>1</p><img src="/assets/olympic_rings_white.png" alt="" width='100'></div>
        <div class="back"><p>1</p><img src="/assets/olympic_rings_white.png" alt="" width='100'></div>
    </div>
 </div>

<div class="results">
	<!-- INSERT RUBY FOR GOLD -->
	<h2>You won the GOLD!</h2>
	<p>Official Score: 10/10</p> <br>
	<p><i class="fa fa-twitter-square fa-lg"></i> <i class="fa fa-facebook-square fa-lg"></i></p>

</div>




</body>
</html>