

  <div class="olympic_logo">
 <!--    <img src="assets/images/rings_blue.png" alt="Olympic Rings" width='55%'> -->

 <%= image_tag("/assets/rings_blue.png", width: '50%') %>

  </div>

  <header>
    <h1>Olym<span class='pics'>pics</span> Quiz</h1>
    <p>Test your knowledge of the Olympics through pictures.</p>
  </header>


  <form>
    <input type="text" name="name" placeholder="Please enter your name to get started..."><br>
    <a href="/question.html">
    <button type="button">Click to Start!</button></a>
  </form>
